//
// Grid
//

@width: 100%/@columns;

.@{namespace}grid {
	margin-right: @gutter / -2;
	margin-left: @gutter / -2;
	& when (@flex = true) {
		display: flex;
		flex-wrap: wrap;
		&.-align-center {
			justify-content: center;
		}
		&.-align-left {
			justify-content: start;
		}
		&.-align-right {
			justify-content: end;
		}
	}
	& when not (@flex = true) {
		.clear();
	}
	&.-gutter-none {
		margin-right: 0;
		margin-left: 0;
		.fl--cell {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

// Section

.@{namespace}section {

}

// Container

.@{namespace}container {
	padding-right: @gutter;
	padding-left: @gutter;
}

// Cells and breakpoints

.@{namespace}cell {
	min-height: 1px;
	box-sizing: border-box;
	padding-right: @gutter / 2;
	padding-left: @gutter / 2;
	& when (@flex = true) {
		//flex: 0 0 100%;
		width: 100%;
	}
}

.breakpoints(@x:1) when(@x <= length(@breakPoints)) {
    @name: extract(extract(@breakPoints, @x),1);
    @media (min-width: extract(extract(@breakPoints, @x),2)) {
		.@{namespace}container {
			& when (@x >= 2) {
				max-width: extract(extract(@breakPoints, @x),2) - (@gutter * 2);	
			}
			.center-block();
		}
    	.columns(@y:1) when(@y <= @columns) {
    		.-@{name}-@{y} {
    			& when (@flex = true) {
					width: @width * @y;
				}
				& when not (@flex = true) {
					width: @width * @y;
					float: left;
				}
    		}
    		.columns((@y + 1));
    	}
    	.columns();
    	.variations(@y:0) when(@y <= @columns) {
    		.-@{name}-offset-@{y} {
 				margin-left: @width * @y;
 			}
 			.-@{name}-pull-@{y} {
				position: relative;
				right: @width * @y;
			}
			.-@{name}-push-@{y} {
				position: relative;
				left: @width * @y;
			}
    		.variations((@y + 1));
    	}
		.variations();
		.-@{name}-auto {
			& when (@flex = true) {
				flex: 1 0 auto;
			}
		}
	}
    .breakpoints((@x + 1));
}
.breakpoints();


// Align center

.-align-center {
	margin: 0 auto;
}



// Flex

.-mode-flex {
	display: flex;
}

// Clear

.clear {
	&:after {
    	display: table;
    	clear: both;
    	content: " ";
	}
}

.center-block {
	margin: 0 auto;
}