//
// Grid
//

@width: 100%/@columns;

// Groups

.group {
	margin-right: @gutter / -2;
	margin-left: @gutter / -2;
	& when (@flex = true) {
		display: flex;
		flex-wrap: wrap;
	}
	& when not (@flex = true) {
		.clear();
	}
}

[class*="col-"] {
	min-height: 1px;
	box-sizing: border-box;
	padding-right: @gutter / 2;
	padding-left: @gutter / 2;
	& when (@flex = true) {
		flex: 0 0 100%;
	}
}

.group [class*="push-"],
.group [class*="pull-"] {
	position: relative;
}

.container {
	padding-right: @gutter;
	padding-left: @gutter;
}

// Columns

.breakpoints(@x:1) when(@x <= length(@breakPoints)) {
    @name: extract(extract(@breakPoints, @x),1);
    @media (min-width: extract(extract(@breakPoints, @x),2)) {
		.container {
			& when (@x >= 2) {
				max-width: extract(extract(@breakPoints, @x),2) - (@gutter * 2);	
			}
			.center-block();
		}
    	.columns(@y:1) when(@y <= @columns) {
    		.col-@{name}-@{y} {
    			& when (@flex = true) {
					flex-basis: @width * @y;
				}
				& when not (@flex = true) {
					width: @width * @y;
					float: left;
				}
    		}
    		.columns((@y + 1));
    	}
    	.columns();
    	.push(@y:0) when(@y <= @columns) {
    		.col-@{name}-offset-@{y} {
 				margin-left: @width * @y;
 			}
 			.col-@{name}-pull-@{y} {
				right: @width * @y;
			}
			.col-@{name}-push-@{y} {
				left: @width * @y;
			}
    		.push((@y + 1));
    	}
    	.push();
	}
    .breakpoints((@x + 1));
}
.breakpoints();

// Auto

.col-auto {
	& when (@flex = true) {
		flex: 1 0 auto;
	}
}

// Clear

.clear {
	&:after {
    	display: table;
    	clear: both;
    	content: " ";
	}
}