/*!
 * Fluidable Grid System 2.0
 *
 * Creator: Andri Sigurðsson
 * Site: http://fluidable.com
 * Date: 14.11.2017
 */
[class*="col-fixed-"] {
  float: left;
  width: 100%;
}
.col-fixed-hd,
.col-fixed-landscape,
.col-fixed-square,
.col-fixed-portrait {
  position: relative;
}
.col-fixed-hd:before,
.col-fixed-landscape:before,
.col-fixed-square:before,
.col-fixed-portrait:before {
  content: "";
  display: block;
}
.col-fixed-hd .col-content,
.col-fixed-landscape .col-content,
.col-fixed-square .col-content,
.col-fixed-portrait .col-content {
  position: absolute;
  top: 0;
  right: 9px;
  bottom: 0;
  left: 9px;
  padding: 0;
}
.col-fixed-hd:before {
  margin-top: 56.25%;
}
.col-fixed-landscape:before {
  margin-top: 75%;
}
.col-fixed-square:before {
  margin-top: 100%;
}
.col-fixed-portrait:before {
  margin-top: 133.33333333%;
}
.center-block {
  margin: 0 auto;
}
.group {
  margin-right: -9px;
  margin-left: -9px;
  display: flex;
  flex-wrap: wrap;
}
[class*="col-"] {
  min-height: 1px;
  box-sizing: border-box;
  padding-right: 9px;
  padding-left: 9px;
  flex: 0 0 100%;
}
.group [class*="push-"],
.group [class*="pull-"] {
  position: relative;
}
.container {
  padding-right: 18px;
  padding-left: 18px;
}
@media (min-width: 0px) {
  .container {
    margin: 0 auto;
  }
  .col-mb-1 {
    flex-basis: 8.33333333%;
  }
  .col-mb-2 {
    flex-basis: 16.66666667%;
  }
  .col-mb-3 {
    flex-basis: 25%;
  }
  .col-mb-4 {
    flex-basis: 33.33333333%;
  }
  .col-mb-5 {
    flex-basis: 41.66666667%;
  }
  .col-mb-6 {
    flex-basis: 50%;
  }
  .col-mb-7 {
    flex-basis: 58.33333333%;
  }
  .col-mb-8 {
    flex-basis: 66.66666667%;
  }
  .col-mb-9 {
    flex-basis: 75%;
  }
  .col-mb-10 {
    flex-basis: 83.33333333%;
  }
  .col-mb-11 {
    flex-basis: 91.66666667%;
  }
  .col-mb-12 {
    flex-basis: 100%;
  }
  .col-mb-offset-0 {
    margin-left: 0%;
  }
  .col-mb-pull-0 {
    right: 0%;
  }
  .col-mb-push-0 {
    left: 0%;
  }
  .col-mb-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-mb-pull-1 {
    right: 8.33333333%;
  }
  .col-mb-push-1 {
    left: 8.33333333%;
  }
  .col-mb-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-mb-pull-2 {
    right: 16.66666667%;
  }
  .col-mb-push-2 {
    left: 16.66666667%;
  }
  .col-mb-offset-3 {
    margin-left: 25%;
  }
  .col-mb-pull-3 {
    right: 25%;
  }
  .col-mb-push-3 {
    left: 25%;
  }
  .col-mb-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-mb-pull-4 {
    right: 33.33333333%;
  }
  .col-mb-push-4 {
    left: 33.33333333%;
  }
  .col-mb-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-mb-pull-5 {
    right: 41.66666667%;
  }
  .col-mb-push-5 {
    left: 41.66666667%;
  }
  .col-mb-offset-6 {
    margin-left: 50%;
  }
  .col-mb-pull-6 {
    right: 50%;
  }
  .col-mb-push-6 {
    left: 50%;
  }
  .col-mb-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-mb-pull-7 {
    right: 58.33333333%;
  }
  .col-mb-push-7 {
    left: 58.33333333%;
  }
  .col-mb-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-mb-pull-8 {
    right: 66.66666667%;
  }
  .col-mb-push-8 {
    left: 66.66666667%;
  }
  .col-mb-offset-9 {
    margin-left: 75%;
  }
  .col-mb-pull-9 {
    right: 75%;
  }
  .col-mb-push-9 {
    left: 75%;
  }
  .col-mb-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-mb-pull-10 {
    right: 83.33333333%;
  }
  .col-mb-push-10 {
    left: 83.33333333%;
  }
  .col-mb-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-mb-pull-11 {
    right: 91.66666667%;
  }
  .col-mb-push-11 {
    left: 91.66666667%;
  }
  .col-mb-offset-12 {
    margin-left: 100%;
  }
  .col-mb-pull-12 {
    right: 100%;
  }
  .col-mb-push-12 {
    left: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 732px;
    margin: 0 auto;
  }
  .col-tb-1 {
    flex-basis: 8.33333333%;
  }
  .col-tb-2 {
    flex-basis: 16.66666667%;
  }
  .col-tb-3 {
    flex-basis: 25%;
  }
  .col-tb-4 {
    flex-basis: 33.33333333%;
  }
  .col-tb-5 {
    flex-basis: 41.66666667%;
  }
  .col-tb-6 {
    flex-basis: 50%;
  }
  .col-tb-7 {
    flex-basis: 58.33333333%;
  }
  .col-tb-8 {
    flex-basis: 66.66666667%;
  }
  .col-tb-9 {
    flex-basis: 75%;
  }
  .col-tb-10 {
    flex-basis: 83.33333333%;
  }
  .col-tb-11 {
    flex-basis: 91.66666667%;
  }
  .col-tb-12 {
    flex-basis: 100%;
  }
  .col-tb-offset-0 {
    margin-left: 0%;
  }
  .col-tb-pull-0 {
    right: 0%;
  }
  .col-tb-push-0 {
    left: 0%;
  }
  .col-tb-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-tb-pull-1 {
    right: 8.33333333%;
  }
  .col-tb-push-1 {
    left: 8.33333333%;
  }
  .col-tb-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-tb-pull-2 {
    right: 16.66666667%;
  }
  .col-tb-push-2 {
    left: 16.66666667%;
  }
  .col-tb-offset-3 {
    margin-left: 25%;
  }
  .col-tb-pull-3 {
    right: 25%;
  }
  .col-tb-push-3 {
    left: 25%;
  }
  .col-tb-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-tb-pull-4 {
    right: 33.33333333%;
  }
  .col-tb-push-4 {
    left: 33.33333333%;
  }
  .col-tb-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-tb-pull-5 {
    right: 41.66666667%;
  }
  .col-tb-push-5 {
    left: 41.66666667%;
  }
  .col-tb-offset-6 {
    margin-left: 50%;
  }
  .col-tb-pull-6 {
    right: 50%;
  }
  .col-tb-push-6 {
    left: 50%;
  }
  .col-tb-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-tb-pull-7 {
    right: 58.33333333%;
  }
  .col-tb-push-7 {
    left: 58.33333333%;
  }
  .col-tb-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-tb-pull-8 {
    right: 66.66666667%;
  }
  .col-tb-push-8 {
    left: 66.66666667%;
  }
  .col-tb-offset-9 {
    margin-left: 75%;
  }
  .col-tb-pull-9 {
    right: 75%;
  }
  .col-tb-push-9 {
    left: 75%;
  }
  .col-tb-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-tb-pull-10 {
    right: 83.33333333%;
  }
  .col-tb-push-10 {
    left: 83.33333333%;
  }
  .col-tb-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-tb-pull-11 {
    right: 91.66666667%;
  }
  .col-tb-push-11 {
    left: 91.66666667%;
  }
  .col-tb-offset-12 {
    margin-left: 100%;
  }
  .col-tb-pull-12 {
    right: 100%;
  }
  .col-tb-push-12 {
    left: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 956px;
    margin: 0 auto;
  }
  .col-dt-1 {
    flex-basis: 8.33333333%;
  }
  .col-dt-2 {
    flex-basis: 16.66666667%;
  }
  .col-dt-3 {
    flex-basis: 25%;
  }
  .col-dt-4 {
    flex-basis: 33.33333333%;
  }
  .col-dt-5 {
    flex-basis: 41.66666667%;
  }
  .col-dt-6 {
    flex-basis: 50%;
  }
  .col-dt-7 {
    flex-basis: 58.33333333%;
  }
  .col-dt-8 {
    flex-basis: 66.66666667%;
  }
  .col-dt-9 {
    flex-basis: 75%;
  }
  .col-dt-10 {
    flex-basis: 83.33333333%;
  }
  .col-dt-11 {
    flex-basis: 91.66666667%;
  }
  .col-dt-12 {
    flex-basis: 100%;
  }
  .col-dt-offset-0 {
    margin-left: 0%;
  }
  .col-dt-pull-0 {
    right: 0%;
  }
  .col-dt-push-0 {
    left: 0%;
  }
  .col-dt-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-dt-pull-1 {
    right: 8.33333333%;
  }
  .col-dt-push-1 {
    left: 8.33333333%;
  }
  .col-dt-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-dt-pull-2 {
    right: 16.66666667%;
  }
  .col-dt-push-2 {
    left: 16.66666667%;
  }
  .col-dt-offset-3 {
    margin-left: 25%;
  }
  .col-dt-pull-3 {
    right: 25%;
  }
  .col-dt-push-3 {
    left: 25%;
  }
  .col-dt-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-dt-pull-4 {
    right: 33.33333333%;
  }
  .col-dt-push-4 {
    left: 33.33333333%;
  }
  .col-dt-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-dt-pull-5 {
    right: 41.66666667%;
  }
  .col-dt-push-5 {
    left: 41.66666667%;
  }
  .col-dt-offset-6 {
    margin-left: 50%;
  }
  .col-dt-pull-6 {
    right: 50%;
  }
  .col-dt-push-6 {
    left: 50%;
  }
  .col-dt-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-dt-pull-7 {
    right: 58.33333333%;
  }
  .col-dt-push-7 {
    left: 58.33333333%;
  }
  .col-dt-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-dt-pull-8 {
    right: 66.66666667%;
  }
  .col-dt-push-8 {
    left: 66.66666667%;
  }
  .col-dt-offset-9 {
    margin-left: 75%;
  }
  .col-dt-pull-9 {
    right: 75%;
  }
  .col-dt-push-9 {
    left: 75%;
  }
  .col-dt-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-dt-pull-10 {
    right: 83.33333333%;
  }
  .col-dt-push-10 {
    left: 83.33333333%;
  }
  .col-dt-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-dt-pull-11 {
    right: 91.66666667%;
  }
  .col-dt-push-11 {
    left: 91.66666667%;
  }
  .col-dt-offset-12 {
    margin-left: 100%;
  }
  .col-dt-pull-12 {
    right: 100%;
  }
  .col-dt-push-12 {
    left: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1164px;
    margin: 0 auto;
  }
  .col-ld-1 {
    flex-basis: 8.33333333%;
  }
  .col-ld-2 {
    flex-basis: 16.66666667%;
  }
  .col-ld-3 {
    flex-basis: 25%;
  }
  .col-ld-4 {
    flex-basis: 33.33333333%;
  }
  .col-ld-5 {
    flex-basis: 41.66666667%;
  }
  .col-ld-6 {
    flex-basis: 50%;
  }
  .col-ld-7 {
    flex-basis: 58.33333333%;
  }
  .col-ld-8 {
    flex-basis: 66.66666667%;
  }
  .col-ld-9 {
    flex-basis: 75%;
  }
  .col-ld-10 {
    flex-basis: 83.33333333%;
  }
  .col-ld-11 {
    flex-basis: 91.66666667%;
  }
  .col-ld-12 {
    flex-basis: 100%;
  }
  .col-ld-offset-0 {
    margin-left: 0%;
  }
  .col-ld-pull-0 {
    right: 0%;
  }
  .col-ld-push-0 {
    left: 0%;
  }
  .col-ld-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ld-pull-1 {
    right: 8.33333333%;
  }
  .col-ld-push-1 {
    left: 8.33333333%;
  }
  .col-ld-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ld-pull-2 {
    right: 16.66666667%;
  }
  .col-ld-push-2 {
    left: 16.66666667%;
  }
  .col-ld-offset-3 {
    margin-left: 25%;
  }
  .col-ld-pull-3 {
    right: 25%;
  }
  .col-ld-push-3 {
    left: 25%;
  }
  .col-ld-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ld-pull-4 {
    right: 33.33333333%;
  }
  .col-ld-push-4 {
    left: 33.33333333%;
  }
  .col-ld-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ld-pull-5 {
    right: 41.66666667%;
  }
  .col-ld-push-5 {
    left: 41.66666667%;
  }
  .col-ld-offset-6 {
    margin-left: 50%;
  }
  .col-ld-pull-6 {
    right: 50%;
  }
  .col-ld-push-6 {
    left: 50%;
  }
  .col-ld-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ld-pull-7 {
    right: 58.33333333%;
  }
  .col-ld-push-7 {
    left: 58.33333333%;
  }
  .col-ld-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ld-pull-8 {
    right: 66.66666667%;
  }
  .col-ld-push-8 {
    left: 66.66666667%;
  }
  .col-ld-offset-9 {
    margin-left: 75%;
  }
  .col-ld-pull-9 {
    right: 75%;
  }
  .col-ld-push-9 {
    left: 75%;
  }
  .col-ld-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ld-pull-10 {
    right: 83.33333333%;
  }
  .col-ld-push-10 {
    left: 83.33333333%;
  }
  .col-ld-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ld-pull-11 {
    right: 91.66666667%;
  }
  .col-ld-push-11 {
    left: 91.66666667%;
  }
  .col-ld-offset-12 {
    margin-left: 100%;
  }
  .col-ld-pull-12 {
    right: 100%;
  }
  .col-ld-push-12 {
    left: 100%;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1564px;
    margin: 0 auto;
  }
  .col-el-1 {
    flex-basis: 8.33333333%;
  }
  .col-el-2 {
    flex-basis: 16.66666667%;
  }
  .col-el-3 {
    flex-basis: 25%;
  }
  .col-el-4 {
    flex-basis: 33.33333333%;
  }
  .col-el-5 {
    flex-basis: 41.66666667%;
  }
  .col-el-6 {
    flex-basis: 50%;
  }
  .col-el-7 {
    flex-basis: 58.33333333%;
  }
  .col-el-8 {
    flex-basis: 66.66666667%;
  }
  .col-el-9 {
    flex-basis: 75%;
  }
  .col-el-10 {
    flex-basis: 83.33333333%;
  }
  .col-el-11 {
    flex-basis: 91.66666667%;
  }
  .col-el-12 {
    flex-basis: 100%;
  }
  .col-el-offset-0 {
    margin-left: 0%;
  }
  .col-el-pull-0 {
    right: 0%;
  }
  .col-el-push-0 {
    left: 0%;
  }
  .col-el-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-el-pull-1 {
    right: 8.33333333%;
  }
  .col-el-push-1 {
    left: 8.33333333%;
  }
  .col-el-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-el-pull-2 {
    right: 16.66666667%;
  }
  .col-el-push-2 {
    left: 16.66666667%;
  }
  .col-el-offset-3 {
    margin-left: 25%;
  }
  .col-el-pull-3 {
    right: 25%;
  }
  .col-el-push-3 {
    left: 25%;
  }
  .col-el-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-el-pull-4 {
    right: 33.33333333%;
  }
  .col-el-push-4 {
    left: 33.33333333%;
  }
  .col-el-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-el-pull-5 {
    right: 41.66666667%;
  }
  .col-el-push-5 {
    left: 41.66666667%;
  }
  .col-el-offset-6 {
    margin-left: 50%;
  }
  .col-el-pull-6 {
    right: 50%;
  }
  .col-el-push-6 {
    left: 50%;
  }
  .col-el-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-el-pull-7 {
    right: 58.33333333%;
  }
  .col-el-push-7 {
    left: 58.33333333%;
  }
  .col-el-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-el-pull-8 {
    right: 66.66666667%;
  }
  .col-el-push-8 {
    left: 66.66666667%;
  }
  .col-el-offset-9 {
    margin-left: 75%;
  }
  .col-el-pull-9 {
    right: 75%;
  }
  .col-el-push-9 {
    left: 75%;
  }
  .col-el-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-el-pull-10 {
    right: 83.33333333%;
  }
  .col-el-push-10 {
    left: 83.33333333%;
  }
  .col-el-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-el-pull-11 {
    right: 91.66666667%;
  }
  .col-el-push-11 {
    left: 91.66666667%;
  }
  .col-el-offset-12 {
    margin-left: 100%;
  }
  .col-el-pull-12 {
    right: 100%;
  }
  .col-el-push-12 {
    left: 100%;
  }
}
.col-auto {
  flex: 1 0 auto;
}
.clear:after {
  display: table;
  clear: both;
  content: " ";
}
