/*!
 * Fluidable Grid System 0.5
 *
 * Creator: Andri Sigurðsson
 * Site: http://www.vefstofan.is
 * Date: 07.03.2012
 */

/*
 	
	Config your site here

*/

@columns:       12;
@siteWidth:     960px;
@columnWidth:   100%/@columns;
@gutterWidth:   2em;


/*
	
	Grid system
	
*/

.page {
	max-width: @siteWidth;
	.center-block();
}

.columns(@num: 1) {
	width: @columnWidth * @num;
	float: left;
}

.offset(@num: 1) {
	margin-left: @columnWidth * @num;
}

.col-group {
	.clear();
}

.col-group .col-content {
	margin: 0 @gutterWidth / 2;
}

.col-group .col-first > .col-content {
	margin-left: 0;
}

.col-group .col-last > .col-content {
	margin-right: 0;
}

.col-group .col-group{
	margin: 0;
}

.col-inset .col-content {
	padding: 1em;
	margin: 0;
}

.col-inset-one .col-content {
	padding: 1em;
}

// Default columns

.col-1     { .columns(1); }
.col-2     { .columns(2); }
.col-3     { .columns(3); }
.col-4     { .columns(4); }
.col-5     { .columns(5); }
.col-6     { .columns(6); }
.col-7     { .columns(7); }
.col-8     { .columns(8); }
.col-9     { .columns(9); }
.col-10    { .columns(10); }
.col-11    { .columns(11); }
.col-12    { .columns(12); }
.col-13    { .columns(13); }
.col-14    { .columns(14); }
.col-15    { .columns(15); }
.col-16    { .columns(16); }
.col-17    { .columns(17); }
.col-18    { .columns(18); }

.col-full  { .columns(@columns); }
.col-half  { .columns(@columns / 2); }
.col-third  { .columns(@columns / 3); }
.col-fourth  { .columns(@columns / 4); }
.col-fifth  { .columns(@columns / 5); }
.col-sixth  { .columns(@columns / 6); }
.col-seventh  { .columns(@columns / 7); }
.col-eighth  { .columns(@columns / 8); }
.col-ninth  { .columns(@columns / 9); }
.col-tenth  { .columns(@columns / 10); }
.col-eleventh  { .columns(@columns / 11); }
.col-twelfth  { .columns(@columns / 12); }
.col-thirteenth  { .columns(@columns / 13); }
.col-fourteenth  { .columns(@columns / 14); }
.col-fifteenth  { .columns(@columns / 15); }
.col-sixteenth  { .columns(@columns / 16); }
.col-seventeenth  { .columns(@columns / 17); }
.col-eighteenth  { .columns(@columns / 18); }


// Offset

.offset-1     { .offset(1); }
.offset-2     { .offset(2); }
.offset-3     { .offset(3); }
.offset-4     { .offset(4); }
.offset-5     { .offset(5); }
.offset-6     { .offset(6); }
.offset-7     { .offset(7); }
.offset-8     { .offset(8); }
.offset-9     { .offset(9); }
.offset-10    { .offset(10); }
.offset-11    { .offset(11); }
.offset-12    { .offset(12); }
.offset-13    { .offset(13); }
.offset-14    { .offset(14); }
.offset-15    { .offset(15); }

// Positioning

.center-block {
	margin: 0 auto;
}

// Mobile 

@media screen and (max-width: 767px) {
	.page {
		margin: 1em;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		float: none;
		width: auto;
	}
	.col-group .col-content {
		margin: 0;
	}
}

// Clearfix

.clear {
	zoom: 1;
	&:after {
    	display: block;
		visibility: hidden;
    	height: 0;
    	clear: both;
    	content: ".";
	}
}