/*!
 * Fluidable Grid System 2.0
 *
 * Creator: Andri Sigurðsson
 * Site: http://fluidable.com
 * Date: 14.11.2017
 */
.-ratio-hd {
  position: relative;
  width: 100%;
}
.-ratio-hd:before {
  content: " ";
  display: block;
  margin-top: 56.25%;
}
.-ratio-hd .fl--content {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  padding: 0;
}
.-ratio-landscape {
  position: relative;
  width: 100%;
}
.-ratio-landscape:before {
  content: " ";
  display: block;
  margin-top: 75%;
}
.-ratio-landscape .fl--content {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  padding: 0;
}
.-ratio-square {
  position: relative;
  width: 100%;
}
.-ratio-square:before {
  content: " ";
  display: block;
  margin-top: 100%;
}
.-ratio-square .fl--content {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  padding: 0;
}
.-ratio-portrait {
  position: relative;
  width: 100%;
}
.-ratio-portrait:before {
  content: " ";
  display: block;
  margin-top: 133.33333333%;
}
.-ratio-portrait .fl--content {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  padding: 0;
}
.fl--grid {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.fl--grid.-align-center {
  justify-content: center;
}
.fl--grid.-align-left {
  justify-content: start;
}
.fl--grid.-align-right {
  justify-content: end;
}
.fl--grid.-gutter-none {
  margin-right: 0;
  margin-left: 0;
}
.fl--grid.-gutter-none .fl--cell {
  padding-right: 0;
  padding-left: 0;
}
.fl--container {
  padding-right: 1rem;
  padding-left: 1rem;
}
.fl--cell {
  min-height: 1px;
  box-sizing: border-box;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
}
@media (min-width: 0px) {
  .fl--container {
    margin: 0 auto;
  }
  .-mobile-1 {
    width: 8.33333333%;
  }
  .-mobile-2 {
    width: 16.66666667%;
  }
  .-mobile-3 {
    width: 25%;
  }
  .-mobile-4 {
    width: 33.33333333%;
  }
  .-mobile-5 {
    width: 41.66666667%;
  }
  .-mobile-6 {
    width: 50%;
  }
  .-mobile-7 {
    width: 58.33333333%;
  }
  .-mobile-8 {
    width: 66.66666667%;
  }
  .-mobile-9 {
    width: 75%;
  }
  .-mobile-10 {
    width: 83.33333333%;
  }
  .-mobile-11 {
    width: 91.66666667%;
  }
  .-mobile-12 {
    width: 100%;
  }
  .-mobile-offset-0 {
    margin-left: 0%;
  }
  .-mobile-pull-0 {
    position: relative;
    right: 0%;
  }
  .-mobile-push-0 {
    position: relative;
    left: 0%;
  }
  .-mobile-offset-1 {
    margin-left: 8.33333333%;
  }
  .-mobile-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .-mobile-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .-mobile-offset-2 {
    margin-left: 16.66666667%;
  }
  .-mobile-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .-mobile-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .-mobile-offset-3 {
    margin-left: 25%;
  }
  .-mobile-pull-3 {
    position: relative;
    right: 25%;
  }
  .-mobile-push-3 {
    position: relative;
    left: 25%;
  }
  .-mobile-offset-4 {
    margin-left: 33.33333333%;
  }
  .-mobile-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .-mobile-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .-mobile-offset-5 {
    margin-left: 41.66666667%;
  }
  .-mobile-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .-mobile-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .-mobile-offset-6 {
    margin-left: 50%;
  }
  .-mobile-pull-6 {
    position: relative;
    right: 50%;
  }
  .-mobile-push-6 {
    position: relative;
    left: 50%;
  }
  .-mobile-offset-7 {
    margin-left: 58.33333333%;
  }
  .-mobile-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .-mobile-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .-mobile-offset-8 {
    margin-left: 66.66666667%;
  }
  .-mobile-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .-mobile-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .-mobile-offset-9 {
    margin-left: 75%;
  }
  .-mobile-pull-9 {
    position: relative;
    right: 75%;
  }
  .-mobile-push-9 {
    position: relative;
    left: 75%;
  }
  .-mobile-offset-10 {
    margin-left: 83.33333333%;
  }
  .-mobile-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .-mobile-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .-mobile-offset-11 {
    margin-left: 91.66666667%;
  }
  .-mobile-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .-mobile-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .-mobile-offset-12 {
    margin-left: 100%;
  }
  .-mobile-pull-12 {
    position: relative;
    right: 100%;
  }
  .-mobile-push-12 {
    position: relative;
    left: 100%;
  }
  .-mobile-auto {
    flex: 1 0 auto;
  }
}
@media (min-width: 768px) {
  .fl--container {
    max-width: 766px;
    margin: 0 auto;
  }
  .-tablet-1 {
    width: 8.33333333%;
  }
  .-tablet-2 {
    width: 16.66666667%;
  }
  .-tablet-3 {
    width: 25%;
  }
  .-tablet-4 {
    width: 33.33333333%;
  }
  .-tablet-5 {
    width: 41.66666667%;
  }
  .-tablet-6 {
    width: 50%;
  }
  .-tablet-7 {
    width: 58.33333333%;
  }
  .-tablet-8 {
    width: 66.66666667%;
  }
  .-tablet-9 {
    width: 75%;
  }
  .-tablet-10 {
    width: 83.33333333%;
  }
  .-tablet-11 {
    width: 91.66666667%;
  }
  .-tablet-12 {
    width: 100%;
  }
  .-tablet-offset-0 {
    margin-left: 0%;
  }
  .-tablet-pull-0 {
    position: relative;
    right: 0%;
  }
  .-tablet-push-0 {
    position: relative;
    left: 0%;
  }
  .-tablet-offset-1 {
    margin-left: 8.33333333%;
  }
  .-tablet-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .-tablet-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .-tablet-offset-2 {
    margin-left: 16.66666667%;
  }
  .-tablet-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .-tablet-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .-tablet-offset-3 {
    margin-left: 25%;
  }
  .-tablet-pull-3 {
    position: relative;
    right: 25%;
  }
  .-tablet-push-3 {
    position: relative;
    left: 25%;
  }
  .-tablet-offset-4 {
    margin-left: 33.33333333%;
  }
  .-tablet-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .-tablet-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .-tablet-offset-5 {
    margin-left: 41.66666667%;
  }
  .-tablet-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .-tablet-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .-tablet-offset-6 {
    margin-left: 50%;
  }
  .-tablet-pull-6 {
    position: relative;
    right: 50%;
  }
  .-tablet-push-6 {
    position: relative;
    left: 50%;
  }
  .-tablet-offset-7 {
    margin-left: 58.33333333%;
  }
  .-tablet-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .-tablet-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .-tablet-offset-8 {
    margin-left: 66.66666667%;
  }
  .-tablet-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .-tablet-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .-tablet-offset-9 {
    margin-left: 75%;
  }
  .-tablet-pull-9 {
    position: relative;
    right: 75%;
  }
  .-tablet-push-9 {
    position: relative;
    left: 75%;
  }
  .-tablet-offset-10 {
    margin-left: 83.33333333%;
  }
  .-tablet-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .-tablet-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .-tablet-offset-11 {
    margin-left: 91.66666667%;
  }
  .-tablet-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .-tablet-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .-tablet-offset-12 {
    margin-left: 100%;
  }
  .-tablet-pull-12 {
    position: relative;
    right: 100%;
  }
  .-tablet-push-12 {
    position: relative;
    left: 100%;
  }
  .-tablet-auto {
    flex: 1 0 auto;
  }
}
@media (min-width: 1200px) {
  .fl--container {
    max-width: 1198px;
    margin: 0 auto;
  }
  .-laptop-1 {
    width: 8.33333333%;
  }
  .-laptop-2 {
    width: 16.66666667%;
  }
  .-laptop-3 {
    width: 25%;
  }
  .-laptop-4 {
    width: 33.33333333%;
  }
  .-laptop-5 {
    width: 41.66666667%;
  }
  .-laptop-6 {
    width: 50%;
  }
  .-laptop-7 {
    width: 58.33333333%;
  }
  .-laptop-8 {
    width: 66.66666667%;
  }
  .-laptop-9 {
    width: 75%;
  }
  .-laptop-10 {
    width: 83.33333333%;
  }
  .-laptop-11 {
    width: 91.66666667%;
  }
  .-laptop-12 {
    width: 100%;
  }
  .-laptop-offset-0 {
    margin-left: 0%;
  }
  .-laptop-pull-0 {
    position: relative;
    right: 0%;
  }
  .-laptop-push-0 {
    position: relative;
    left: 0%;
  }
  .-laptop-offset-1 {
    margin-left: 8.33333333%;
  }
  .-laptop-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .-laptop-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .-laptop-offset-2 {
    margin-left: 16.66666667%;
  }
  .-laptop-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .-laptop-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .-laptop-offset-3 {
    margin-left: 25%;
  }
  .-laptop-pull-3 {
    position: relative;
    right: 25%;
  }
  .-laptop-push-3 {
    position: relative;
    left: 25%;
  }
  .-laptop-offset-4 {
    margin-left: 33.33333333%;
  }
  .-laptop-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .-laptop-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .-laptop-offset-5 {
    margin-left: 41.66666667%;
  }
  .-laptop-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .-laptop-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .-laptop-offset-6 {
    margin-left: 50%;
  }
  .-laptop-pull-6 {
    position: relative;
    right: 50%;
  }
  .-laptop-push-6 {
    position: relative;
    left: 50%;
  }
  .-laptop-offset-7 {
    margin-left: 58.33333333%;
  }
  .-laptop-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .-laptop-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .-laptop-offset-8 {
    margin-left: 66.66666667%;
  }
  .-laptop-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .-laptop-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .-laptop-offset-9 {
    margin-left: 75%;
  }
  .-laptop-pull-9 {
    position: relative;
    right: 75%;
  }
  .-laptop-push-9 {
    position: relative;
    left: 75%;
  }
  .-laptop-offset-10 {
    margin-left: 83.33333333%;
  }
  .-laptop-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .-laptop-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .-laptop-offset-11 {
    margin-left: 91.66666667%;
  }
  .-laptop-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .-laptop-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .-laptop-offset-12 {
    margin-left: 100%;
  }
  .-laptop-pull-12 {
    position: relative;
    right: 100%;
  }
  .-laptop-push-12 {
    position: relative;
    left: 100%;
  }
  .-laptop-auto {
    flex: 1 0 auto;
  }
}
@media (min-width: 1600px) {
  .fl--container {
    max-width: 1598px;
    margin: 0 auto;
  }
  .-desktop-1 {
    width: 8.33333333%;
  }
  .-desktop-2 {
    width: 16.66666667%;
  }
  .-desktop-3 {
    width: 25%;
  }
  .-desktop-4 {
    width: 33.33333333%;
  }
  .-desktop-5 {
    width: 41.66666667%;
  }
  .-desktop-6 {
    width: 50%;
  }
  .-desktop-7 {
    width: 58.33333333%;
  }
  .-desktop-8 {
    width: 66.66666667%;
  }
  .-desktop-9 {
    width: 75%;
  }
  .-desktop-10 {
    width: 83.33333333%;
  }
  .-desktop-11 {
    width: 91.66666667%;
  }
  .-desktop-12 {
    width: 100%;
  }
  .-desktop-offset-0 {
    margin-left: 0%;
  }
  .-desktop-pull-0 {
    position: relative;
    right: 0%;
  }
  .-desktop-push-0 {
    position: relative;
    left: 0%;
  }
  .-desktop-offset-1 {
    margin-left: 8.33333333%;
  }
  .-desktop-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .-desktop-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .-desktop-offset-2 {
    margin-left: 16.66666667%;
  }
  .-desktop-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .-desktop-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .-desktop-offset-3 {
    margin-left: 25%;
  }
  .-desktop-pull-3 {
    position: relative;
    right: 25%;
  }
  .-desktop-push-3 {
    position: relative;
    left: 25%;
  }
  .-desktop-offset-4 {
    margin-left: 33.33333333%;
  }
  .-desktop-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .-desktop-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .-desktop-offset-5 {
    margin-left: 41.66666667%;
  }
  .-desktop-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .-desktop-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .-desktop-offset-6 {
    margin-left: 50%;
  }
  .-desktop-pull-6 {
    position: relative;
    right: 50%;
  }
  .-desktop-push-6 {
    position: relative;
    left: 50%;
  }
  .-desktop-offset-7 {
    margin-left: 58.33333333%;
  }
  .-desktop-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .-desktop-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .-desktop-offset-8 {
    margin-left: 66.66666667%;
  }
  .-desktop-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .-desktop-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .-desktop-offset-9 {
    margin-left: 75%;
  }
  .-desktop-pull-9 {
    position: relative;
    right: 75%;
  }
  .-desktop-push-9 {
    position: relative;
    left: 75%;
  }
  .-desktop-offset-10 {
    margin-left: 83.33333333%;
  }
  .-desktop-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .-desktop-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .-desktop-offset-11 {
    margin-left: 91.66666667%;
  }
  .-desktop-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .-desktop-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .-desktop-offset-12 {
    margin-left: 100%;
  }
  .-desktop-pull-12 {
    position: relative;
    right: 100%;
  }
  .-desktop-push-12 {
    position: relative;
    left: 100%;
  }
  .-desktop-auto {
    flex: 1 0 auto;
  }
}
@media (min-width: 2560px) {
  .fl--container {
    max-width: 2558px;
    margin: 0 auto;
  }
  .-widescreen-1 {
    width: 8.33333333%;
  }
  .-widescreen-2 {
    width: 16.66666667%;
  }
  .-widescreen-3 {
    width: 25%;
  }
  .-widescreen-4 {
    width: 33.33333333%;
  }
  .-widescreen-5 {
    width: 41.66666667%;
  }
  .-widescreen-6 {
    width: 50%;
  }
  .-widescreen-7 {
    width: 58.33333333%;
  }
  .-widescreen-8 {
    width: 66.66666667%;
  }
  .-widescreen-9 {
    width: 75%;
  }
  .-widescreen-10 {
    width: 83.33333333%;
  }
  .-widescreen-11 {
    width: 91.66666667%;
  }
  .-widescreen-12 {
    width: 100%;
  }
  .-widescreen-offset-0 {
    margin-left: 0%;
  }
  .-widescreen-pull-0 {
    position: relative;
    right: 0%;
  }
  .-widescreen-push-0 {
    position: relative;
    left: 0%;
  }
  .-widescreen-offset-1 {
    margin-left: 8.33333333%;
  }
  .-widescreen-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .-widescreen-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .-widescreen-offset-2 {
    margin-left: 16.66666667%;
  }
  .-widescreen-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .-widescreen-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .-widescreen-offset-3 {
    margin-left: 25%;
  }
  .-widescreen-pull-3 {
    position: relative;
    right: 25%;
  }
  .-widescreen-push-3 {
    position: relative;
    left: 25%;
  }
  .-widescreen-offset-4 {
    margin-left: 33.33333333%;
  }
  .-widescreen-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .-widescreen-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .-widescreen-offset-5 {
    margin-left: 41.66666667%;
  }
  .-widescreen-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .-widescreen-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .-widescreen-offset-6 {
    margin-left: 50%;
  }
  .-widescreen-pull-6 {
    position: relative;
    right: 50%;
  }
  .-widescreen-push-6 {
    position: relative;
    left: 50%;
  }
  .-widescreen-offset-7 {
    margin-left: 58.33333333%;
  }
  .-widescreen-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .-widescreen-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .-widescreen-offset-8 {
    margin-left: 66.66666667%;
  }
  .-widescreen-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .-widescreen-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .-widescreen-offset-9 {
    margin-left: 75%;
  }
  .-widescreen-pull-9 {
    position: relative;
    right: 75%;
  }
  .-widescreen-push-9 {
    position: relative;
    left: 75%;
  }
  .-widescreen-offset-10 {
    margin-left: 83.33333333%;
  }
  .-widescreen-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .-widescreen-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .-widescreen-offset-11 {
    margin-left: 91.66666667%;
  }
  .-widescreen-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .-widescreen-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .-widescreen-offset-12 {
    margin-left: 100%;
  }
  .-widescreen-pull-12 {
    position: relative;
    right: 100%;
  }
  .-widescreen-push-12 {
    position: relative;
    left: 100%;
  }
  .-widescreen-auto {
    flex: 1 0 auto;
  }
}
.-align-center {
  margin: 0 auto;
}
.-mode-flex {
  display: flex;
}
.clear:after {
  display: table;
  clear: both;
  content: " ";
}
.center-block {
  margin: 0 auto;
}
